<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lodash</title>
	<link rel="stylesheet" href="libs/bootstrap.min.css">
	<link rel="stylesheet" href="dist/styles/style.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h2>Cities Table</h2>
			<ul id="minifyTable" class="hidden"></ul>
			<table id="cityTable" class="city-table table table-bordered">
				<thead>
					<tr>
						<th class="id_city">ID</th>
						<th class="name_city">City</th>
						<th class="street_city">Street</th>
						<th class="count-houses_city">Count of houses</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="cityTableBody"></tbody>
			</table>
			<div class="control-panel">
				<button id="minify-btn">Compact version</button><button id="find-min">Find min</button><button id="find-max">Find max</button>
			</div>
			<form id="addElement">
				<input type="text" id="form-city" placeholder="city">
				<input type="text" id="form-street" placeholder="street">
				<input type="text" id="form-count-houses" placeholder="count-houses">
				<input id="addCity" type="submit" value="Add element">
			</form>
		</div>
	</div>
	<script type="text/template" id="template" style="display: none;">
		<% _.forEach(items, function(item) { %> 
				<tr id="<%-item.id%>">
					<td class="id_city"><%-item.id%></td>
					<td class="name_city"><%-item.name%></td>
					<td class="street_city"><%-item.street%></td>
					<td class="count-houses_city"><%-item.countHouses%></td>
					<td class="remove-col">
						<button class="remove-btn">Remove</button>
					</td>
				</tr>
		<% }); %>
	</script>
	<script type="text/template" id="templateMinify" style="display: none;">
		<% _.forEach(items, function(item) { %>
			<li><%-item.name%>, <%-item.street%> - <%-item.countHouses%></li>
		<% }); %>
	</script>
	<script src="libs/lodash.lib.js"></script>
	<script src="dist/scripts/main-es5.js"></script>
</body>
</html>